  body {
  	background-color:purple;
  }
  h1 {
  	color: #66FFFF;
    text-align: center;
  }
   h2 {
  	color: #66FFFF;
  }
   h3 {
  	color: #66FFFF;
  }
   h4 {
  	color: #66FFFF;
  }
   p {
  	color: #66FFFF;
    text-align: center;
  }
  li {
  	color: #66FFFF;
  }
  hr {
  	border-color: #E6E62B;
  	border-width: 5px;
  }